<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Intraday</title>
</head>
<body>
<h1>List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date</th>
        <th>Hour</th>
        <th>Price</th>
    </tr>
    <tr th:each="intraday : ${intradays}">
        <td th:text="${intraday.id}">123</td>
        <td th:text="${intraday.name}">Spring in Action</td>
        <td th:text="${intraday.date}">Spring in Action</td>
        <td th:text="${intraday.hour}">Spring in Action</td>
        <td th:text="${intraday.price}">Wrox</td>
    <!--</tr>-->
</table>

</body>
</html>