<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Intraday</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Hour');
            data.addColumn('number', 'Intraday Price');


            var listOfPoints = /*[[${intradaysChart}]]*/ 'default';
            <!--alert(listOfPoints);-->
            data.addRows(listOfPoints);

            // Set chart options
            var options = {
                'title': /*[[${shareName}]]*/,
                'chartArea': {left:60, top:50,'width': '80%', 'height': '45%'},
                vAxis: {format:'0.00'},
                hAxis: {
                    // direction:-1,
                    slantedText:true,
                    slantedTextAngle:90 // here you can even use 180
                }
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.LineChart(document.getElementById('share_chart'));
            chart.draw(data, options);
        }

        /*]]>*/



    </script>
</head>
<body bgcolor="#99CC66">

<!--<form method="post" th:action="@{/}" th:object="${operationModel}">-->
<!--<input type="text" th:field="*{a}" placeholder="0">     <input type="text" th:field="*{b}" placeholder="0">-->
<!--<br>-->

<div>
    <h1>Select share name and date range</h1>
    <hr>
    <form th:action="@{/intraday    }" method="post">
        <table>
            <tr>
                <td align="left">
                    Share Name:
                </td>
                <th><input type="text" id="shareName" th:name="shareName"
                           th:value=${#strings.toUpperCase(shareName)}></th>
            </tr>
            <tr>
                <td align="left">
                    Start Date:
                </td>
                <td><input type="text" id="startDate" th:name="startDate"
                           th:value=${startDate}></td>
            </tr>
            <tr>
                <td align="left">
                    End Date:
                </td>
                <td><input type="text" id="endDate" th:name="endDate"
                           th:value=${endDate}></td>
            </tr>
        </table>

        <br><br>
        <input type="submit" class="button" name="drawChart" value="Draw chart">
    </form>
</div>
<hr>
<div id="share_chart" style="width:100%; height:400px"></div>

</body>
</html>